/*
    Coded by Nguyen Trung Long
    Last edit 07/01/2018
    Unminified
*/

/* #region general */
*
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, 'Segoe UI light';
}

::selection
{
    color: black;
    background-color: transparent;
}

.screen
{
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.button
{
    width: 100px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    transition: .2s ease;
}

.button:hover
{
    background-color: #eeeee7;
}

.center
{
    text-align: center;
}

.header
{
    text-align: center;
    font-size: 32px;
    font-weight: 200;
    line-height: 2;
}
/* #endregion */

/* #region Start screen */
.start.screen {
    background: -moz-linear-gradient(45deg, #4cb8c4 0%, #3cd3ad 100%);
    background: -webkit-linear-gradient(45deg, #4cb8c4 0%,#3cd3ad 100%);
    background: linear-gradient(45deg, #4cb8c4 0%,#3cd3ad 100%);
    color: white
}

.start.screen .button {
    border: 1px solid white
}

.modal-about {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 60%; 
    border-radius: 16px;
  }

  .modal-header, .modal-footer {
    background: -moz-linear-gradient(-45deg, #e96443 0%, #904e95 100%);
    background: -webkit-linear-gradient(-45deg, #e96443 0%,#904e95 100%);
    background: linear-gradient(135deg, #e96443 0%,#904e95 100%);
    color: white;
    padding: 15px 30px;
  }

  .modal-header {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; 
  }

  .modal-footer {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
  }
  
  .modal-body {
      padding: 20px;
      color: black
  }

  span.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -60px
  }
  
  span.close:hover,
  span.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .start.screen .button {
    border-radius: 100px;
    border: 1px solid white;
  }

  .start.screen .button:hover {
      color: black;
  }
/* #endregion */

/* #region container screen */
.container
{
    display: none;
    flex-direction: row
}
.table
{
    border: 5px solid black;
}

.table td
{
    background-size: 100% 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

.canvas
{
    border: 5px solid black;
    background-color: rgba(255, 255, 255, .9);
    visibility: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    display: flex;
}

.col
{
    height: 90%;
    float: left;
}

.col-1,.col-3
{
    width: 20%;
    margin: 2%;
    text-align: center;
    overflow-y: auto
}

.showImg
{
    width: 50%;
}

.showTimer {
    width: 100%;
    height: 20px;
    border-radius: 100px;
    position: relative;
    background: url(images/border1.jpg);
    background-size: 100% 100%;
}

.showTimer .timer {
    float: left;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
}

th
{
    width: 50%;
}

.history
{
    width: 100%;
}

.history table {
    height: 80vh;
}

.col-3::-webkit-scrollbar {
    width: 10px;
}

.col-3::-webkit-scrollbar-track {
    border-radius: 100px;
    background: #ecf0f1;
}

.col-3::-webkit-scrollbar-thumb {
    background: #bdc3c7;
    border-radius: 100px;
}

.col-3::-webkit-scrollbar-thumb:hover {
    background: #34495e;
}

.history-append > tr > td
{
    border: none;
    padding: 10px;
}

.btn-row-settings {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-row-container
{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
}

.btn-row-container .btn-feature {
    height: 30px;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: #ddd;
    line-height: 30px;
    font-size: 18px;
    transition: .6s ease
}

.btn-feature.btn-reset:hover {
    background: #2ecc71;
}

.btn-feature.btn-pause:hover {
    background: #adadad;
}

.btn-feature.btn-setting:hover {
    background: #34495e;
}

/* #endregion */

/* #region settings screen */
.settings
{
    display: none;
}

.setting-table 
{
    width: 60vw;
}

.setting-row td
{
    border: none;
    box-sizing: border-box;
    width: 30%;
    font-family: Verdana;
    padding: 10px 20px;
}

.setting-row .setting-header 
{
    font-size: 24px;
    font-family: "Segoe UI Light";
}
.setting-row .after-setting-header {
    padding: 3px 0;
    background: url(images/border2.jpg) no-repeat;
    background-size: 80% 100%;
}
/* #endregion */ 

/* #region Form */

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 5px;
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    margin-top: -5px;
    border-radius: 50%;
    background: #aaa; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    margin-top: -5px;
    background: #aaa; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, #e5f230 0%, #54db63 100%);
    height: 5px;
    border-radius: 100%;
}

input[type="text"]
{
    width: 80%;
    height: 40px;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    color: grey;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: .2s ease;
}

input[type="text"]:focus
{
    color: black;
    border: 2px solid orangered;
    border-radius: 100px;
    outline: none;
    font-size: 16px;
}
/* #endregion */

.author
{
    position: fixed; 
    right: 5px; 
    bottom: 5px; 
    font-weight: bold; 
    color: grey; 
    font-size: 11px
}